@model gloryhall.Data.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

</head>
<body class="text-center">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            <label for="inputPassword" class="sr-only">Password</label>
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            <label>
                @Html.CheckBoxFor(model => model.RememberMe, new { htmlAttributes = new { @class = "checkbox mb-3" } })Remember me
            </label>
            <div>
                <input class="btn btn-primary btn-lg btn-block" type="submit" value="Login" />
            </div>
        }
</body>
</html>
